body {
	background-color: #f1f4f9;
}

body, h1, h2, h3, h4, h5, h6, p, input {
	color: #385A7B;
	font-family: 'proxima-nova', 'Arial', sans-serif;
	font-size: 14px;
}

.todo-container {
	background-color: white;
	border: 1px solid #C9D3DD;
	padding-top: 15px;
	padding-bottom: 15px;
	width:500px;
}

.todo-top-bar {
	margin-top: 50px;
	text-align: center;
	padding: 15px 0;
	background-color: #2687e9;
	border: 1px solid #2687e9;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	width:500px;
	color: white;
	font-size: 28px;
	font-stretch: semi-condensed;
	font-weight: bold;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

li {
	padding: 2px;
}

li:hover {
    background-color:#f1f4f9;
}